<div class='d-flex flex-wrap justify-content-center' style='height:244px;'>
    <div class='d-flex flex-column justify-content-around'>
        <i class='fas fa-ghost fa-8x text-muted wrapper-center'></i>
        <h3 class='text-muted no-margin'>No Rooms Currently Available</h3>
    </div>
</div>