{{--  Main page header that takes in: title  --}}
<div class='row page-title'>
    <div class='col-12 mb-3'>
        <h1 class="h4" style='letter-spacing: 1px;'>
        	<strong>{{ title }}</strong>
        	@if(loading)
        		<i id='spinner' class="fas fa-circle-notch fa-spin fa-1x"></i>
        	@endif
        </h1>
        @if(subtitle)
            <h2 class="h6 mb-0" style='letter-spacing: 1px;'>{{ subtitle }}</h2>
        @endif
    </div>
</div>
