{{--  Main page header that takes in: title  --}}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800">{{ title }}</h1>
	<h1 class="h3 mb-0 text-gray-800">{{ subtitle }}</h1>
</div>

