{{--  Main page header that takes in: title  --}}
<div class='row dash-header'>
    <div class='col-10'>
        <h3>{{ title }}</h3>
    </div>
    <div class='col-2 text-right'>
        <h4 class='date' onload='startTime()'>{{date}}</h4>
    </div>
</div>
