<div id="big-loading-spinner">
    <div class='row'>
        <div class='col-12 text-center mb-4 mt-4'>
            <p class='fas fa-circle-notch fa-spin fa-7x mb-4 mt-3 text-muted'></p>
            <p>{{message}}</p>
        </div> 
    </div>
</div>