@layout('layouts.mainLayout')

@section('title')
    Manage Bookings
@endsection

{{--  Manage bookings page content  --}}
@section('content')
    <div class="container">
        {{--  Loading page header  --}}
        @!component('components.pageHeader', title='Manage Bookings')
    </div> 
@endsection

