@layout('layouts.main')

@section('title')
Bootstrap Test 
@endsection

@section('content')
  <h1>Bootstrap Test Page</h1>

  <div class="job-container">
    <div class="blank"></div>
    <div class="job-info">
      <h3>Job Title</h3>
      <p>Future job description can go here.</p>
      {{ auth.user.username }}
    </div>
  </div>
@endsection