# Adonis Config
HOST=0.0.0.0
PORT=3333
APP_URL=http://${HOST}:${PORT}
CACHE_VIEWS=false
APP_KEY=
SERVER_URL=https://jarvis.apps.ic.gc.ca


# Environment Type (Development)
NODE_ENV=development

# Database
DB_CONNECTION=pg
DB_HOST=db-postgres
DB_PORT=
DB_USER=root
DB_PASSWORD=secret
DB_DATABASE=jarvis
#DB_DEBUG=true
SESSION_DRIVER=cookie
HASH_DRIVER=bcrypt
LOGGER_LEVEL=debug

# Email Service Config
SMTP_HOST=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_CONNECTION=sparkpost
SPARKPOST_API_KEY=
REGISTRATION_CONFIRMATION=true

# Office 365 API Configuration
MICROSOFT_APP_ID=
MICROSOFT_APP_PASSWORD=
MICROSOFT_REDIRECT_URI=http://localhost:8080/authorize
MICROSOFT_SCOPES=user.read calendars.readwrite openid profile offline_access 
MICROSOFT_HOST=https://login.microsoftonline.com
MICROSOFT_AUTHORIZE_ENDPOINT=common/oauth2/v2.0/authorize
MICROSOFT_TOKEN_ENDPOINT=common/oauth2/v2.0/token

# Exchange Agent Config for EWS Agent
EXCHANGE_AGENT_SERVER=

# Pusher Configuration
PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=
PUSHER_CLUSTER=us2

# DEBUG=knex:query
DEV_OUTLOOK=prod

# KEYCLOAK AD configuration
KEYCLOAK_HOST=https://sso-dev.ised-isde.canada.ca
KEYCLOAK_AUTH_ENDPOINT=/auth/realms/individual/protocol/openid-connect/auth
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_REDIRECT_URI=${APP_URL}/authAD
KEYCLOAK_SCOPES=openid
KEYCLOAK_TOKEN_ENDPOINT=/auth/realms/individual/protocol/openid-connect/token
KEYCLOAK_proxy=http://cdhwg01.prod.prv