# Node modules
node_modules
package-lock.json

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# Uploads 
public/uploads/

# the vscode config file
.vscode

# The development sqlite file
.db

# Database scripts
*.sql

# yarn error log
yarn-error.log
