# Node modules
node_modules

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
# .env

# Uploads 
public/uploads/reviewPictures

# Uploads 
public/uploads/

# the vscode config file
.vscode

# The development sqlite file
*.db

# Database scripts
*.sql

# yarn error log
yarn-error.log

# yarn
yarn.lock

# scanner
/.scannerwork

# persistent directory
# data
