# Node modules
node_modules
package-lock.json

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# the vscode config file
.vscode

# The development sqlite file
database/jasper_dev.db
