/* This file is for ADMIN view specific changes */
/*@import url('defaultAdminDash.css');*/
@import url('shared.css');

/*****************************************************/
/* General */
/*****************************************************/

/*+++++++++++++++++++++++++++++++++++++++++++*/
/* Table View Hover */
/*+++++++++++++++++++++++++++++++++++++++++++*/

/* Hover-over a row for the view all rooms table */
.table-hover:hover {
    cursor:pointer;
}

/* Deactie and Active room state colours */
.td-2, .td-Closed{
    color: #d9534f;
}

.td-1, .td-Open{
    color: #5cb85c;
}

.td-3, .td-Pending {
    color: #ffb007;
}

.issue-stats-card-link, .issue-stats-card-link:hover, .issue-stats-card-link:active, .issue-stats-card-link:visited {
    border:none;
    outline:none;
    text-decoration:none;
    color:inherit;
    text-decoration:none;
}