/* This file is for ADMIN view specific changes */
/*@import url('defaultAdminDash.css');*/
@import url('shared.css');

/*****************************************************/
/* General */
/*****************************************************/

/*+++++++++++++++++++++++++++++++++++++++++++*/
/* Table View Hover */
/*+++++++++++++++++++++++++++++++++++++++++++*/

/* Hover-over a row for the view all rooms table */
.table-hover:hover {
    cursor:pointer;
}

/* Deactie and Active room state colours */
.td-danger, .td-Closed{
    color: #e74c3c;
}

.td-success, .td-Open{
    color: #18BC9C;

}

.td-warning, .td-Pending {
    color: #fcc550;

}
