.open-button {
	color: #555;
	border: none;
	cursor: pointer;
	opacity: 0.8;
	position: fixed;
	bottom: 90px;
	right: 28px;
}

.chat-popup {
	display: none;
	position: fixed;
	bottom: 0;
	right: 15px;
	border: 3px solid #f1f1f1;
	z-index: 9;
}

.chat-window {
	max-width: 300px;
	padding: 10px;
	background-color: white;
}

.chat-window textarea {
	width: 100%;
	padding: 10px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
	resize: none;
	min-height: 20px;
}

.chat-window textarea:focus {
	background-color: #ddd;
	outline: none;
}

.chat-window .btn {
	background-color: #4CAF50;
	color: white;
	padding: 10px 5px;
	border: none;
	cursor: pointer;
	width: 30%;
	margin-bottom:10px;
	opacity: 0.8;
}

.chat-window .cancel {
	background-color: red;
}

.chat-window .btn:hover, .open-button:hover {
	opacity: 1;
}

/* card */
.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 100%;
  }
  
.card:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
padding: 2px 16px;
}

.room-card {
    animation: fadeIn 2s;
}

/* duration */
.duration-append {
	background-color: #145f9c;
	color: #fff;
}

.duration-input {
	min-width: 45px;
}