.open-button {
	color: #555;
	border: none;
	cursor: pointer;
	opacity: 0.8;
	position: fixed;
	bottom: 90px;
	right: 28px;
}

.chat-popup {
	display: none;
	position: fixed;
	bottom: 0;
	right: 15px;
	border: 3px solid #f1f1f1;
	z-index: 9;
}

.chat-window {
	max-width: 300px;
	padding: 10px;
	background-color: white;
}

.chat-window textarea {
	width: 100%;
	padding: 10px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
	resize: none;
	min-height: 20px;
}

.chat-window textarea:focus {
	background-color: #ddd;
	outline: none;
}

.chat-window .btn {
	background-color: #4CAF50;
	color: white;
	padding: 10px 5px;
	border: none;
	cursor: pointer;
	width: 30%;
	margin-bottom:10px;
	opacity: 0.8;
}

.chat-window .cancel {
	background-color: red;
}

.chat-window .btn:hover, .open-button:hover {
	opacity: 1;
}

/* card */
.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 100%;
  }
  
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
	padding: 2px 16px;
}

.room-card {
	animation: fadeIn 2s;
}

.tabs {
  position: relative;   
  min-height: 200px; /* This part sucks */
  clear: both;
  margin: 25px 0;
}

.tab {
  float: left;
}

.tab label {
  background: #eee; 
  padding: 10px; 
  border: 1px solid #ccc; 
  margin-left: -1px; 
  position: relative;
  left: 1px; 
}

.radio-tab {
  display: none;   
}

.tab-content {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
	border: 1px solid #ccc; 
	
	display: flex;
	flex-wrap: wrap;
}

.daily-content {
	flex-direction: column;
}

.weekly-content {
	flex-direction: row;
}

[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}

[type=radio]:checked ~ label ~ .tab-content {
  z-index: 1;
}

.weekdays {
	display: flex;
	flex-wrap: wrap;
}

input[type=number]{
	width: 80px;
} 