/*********new login****************/
.btn-login{
	border: solid 1px #04163F;
	width:100%;
	border-radius: 20px;
}

.btn-login:hover{
background-color: #eff2f7;
}
.btn-register {
	border: solid 1px #04163F;
	width:100%;
	border-radius: 20px;
	background-color: #04163f;
	color:white;
}
.btn-register:hover{
	background-color: #313131;
	color:white;
}
html {
	height: 100%;
}
body{
	height:100%;
	background-color: #F8F8F8;
	overflow: hidden;
}
body .row{
	height:100%;
}

.container-flex{
	height:100%;
}
.image-bar{
	background:linear-gradient(rgba(4, 22, 63, 0.8), rgba(4, 22, 63, 0.8), rgba(4, 22, 63, 0.7)), url("../images/login.jpg") no-repeat center top;background-size:cover;  height:100%;
	background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../images/login.jpg") no-repeat center top;background-size:cover;  height:100%;
}

.form-bar form{
	margin-top:150px;
	width:45%;
	min-width: 275px;
	max-width: 500px;
	margin-right: auto; 
	margin-left:auto;
}

.form-bar form img{
	width:45%;
	background-color:#04163F;
	padding:15px 15px;
}

@media(max-width:768px){
	.image-bar{
		display:none;
	}

	.form-bar form{
		margin-top:50px;
	}

}




