body {
  font-weight: 300;
  background-image: url('/splash.png');
  background-color: #001642;
}

section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 536px;
  margin: auto;
  position: relative;
}

section:before {
  content: '';
  position: absolute;
  background: url('/pyramid.png') no-repeat;
  background-size: 100%;
  width: 100%;
  height: 402px;
  z-index: -1;
}

hr{
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	width:90%;
	margin:25px auto;
}

.card-header{
	background-color: rgba(255, 255, 255, 0);
	border:none;
	padding:0px;
}

.login-box{
	margin-top: 20px;
	background-color: rgba(255, 255, 255, 0.2);
	padding: 20px 20px;
}

.btn-login{
	margin-top: 20px;
	background-color: rgba(255, 255, 255, 0.4);
	width:100%;
	color:rgba(255, 255, 255, 0.8);
	height:40px;
	font-size: 15px;
}

.login-box .brand-logo{
	width:80%;
	margin:20px;
}

.ms-signin{
	width:100%;
	padding:0px;
	background-color: #fff;
	border-color: #fff;
	height:50px;
	text-align: left;
	line-height: 50px !important;
	color: #5e5e5e !important;
	font-size: 18px

}

.register{
	width:100%;
	padding:0px;
	background-color: #12ACF3;
	border-color: #12ACF3;
	height:50px;
	text-align: left;
	line-height: 50px;
	color: #fff;
	font-size: 18px

}

