/*  This file is for CSS changes that are used by both ADMIN and USER views */

/*+++++++++++++++++++++++++++++++++++++++++++*/
/* Accesibility Changes */
/*+++++++++++++++++++++++++++++++++++++++++++*/
body, .table{
    color: #4D4D5B;
    color: #4D4D5B;
}
/* links */
a{
    color: #466CDD;
}

.badge-success {
    color: #fff;
    background-color: #097AAE;
}
/*+++++++++++++++++++++++++++++++++++++++++++*/
/* IE Compatibility Changes */
/*+++++++++++++++++++++++++++++++++++++++++++*/

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
    /* IE10+ specific styles go here */  
    .stats-card-content{
        min-width:75px;
        width:135px;
    }

    .ie-room-card{
        min-width: 500px;
    }
    .ie-room-margin{
        margin: 0 13px 0 13px;
        width: 500px;
    }
 }


/*+++++++++++++++++++++++++++++++++++++++++++*/
/* General */
/*+++++++++++++++++++++++++++++++++++++++++++*/

.vertical-center{
    align-items: center;
}

.wrapper-center {
    text-align: center;
}

.no-border{
    border-style: none;
}

.no-padding{
    padding:0px;
}

.no-margin{
    margin: 0 !important;
}

.border-primary {
    border-color: #383838 !important;
}

.custom-shadow{
    box-shadow: 0 2px 6px 0 hsla(0,0%,0%,0.2);
}
.shadow{
    box-shadow: 0 2px 6px 0 hsla(0,0%,0%,0.2) !important;
}
/* checkboxes */
.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #001642;
    background-color: #001642;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

/*+++++++++++++++++++++++++++++++++++++++++++*/
/* Forms  */
/*+++++++++++++++++++++++++++++++++++++++++++*/

.form-control{
    color: #000000;
}
.form-control:focus{
    color: #000000;
    background-color: #fff !important;
    border-color: #80bdff;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.date-form:disabled, .date-form:read-only{
    background: #fff !important;
}


.time-form{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.time-button{
    border-right: 1px solid;
    border-top: 1px solid;
    border-radius: 0px 4px 4px 0px;
    background-color: #145f9c;
    border-color: #145f9c;
    color: #ffffff;
    cursor: pointer;
    margin: 0 !important;
}

.time-button:hover{
    background-color: #0f4674;
	border-color:#0f4674;
    color: #ffffff;
}

.time-dropdown{
    min-width: 110px;
}
/* showing invalid validator display */
.show-invalid{
    display: block;
}

/*+++++++++++++++++++++++++++++++++++++++++++*/
/* Text */
/*+++++++++++++++++++++++++++++++++++++++++++*/

.text-primary{
    color: #004680 !important;
}

.text-muted, .text-grey{
    color:#707070 !important;
}

.text-danger{
    color: #D9080B !important;
}
/*+++++++++++++++++++++++++++++++++++++++++++*/
/* Navagation Changes */
/*+++++++++++++++++++++++++++++++++++++++++++*/

.bg-gradient-primary {
    background-image:  linear-gradient(180deg, #003968 0%, rgb(0, 50, 92) 100%);
}

.navbar-brand img{
    height:26px;
    margin:0px;
}

.dropdown-item:hover, .dropdown-item:focus, .dropdown-item:active, .dropdown-item:visited {
    background-color: #eceff3;
    color: black;

}
/*+++++++++++++++++++++++++++++++++++++++++++*/
/* Modal box changes */
/*+++++++++++++++++++++++++++++++++++++++++++*/

.modal-footer{
    padding: 10px;
    border-top:none;
    background-color: hsl(210,9%, 96%);
}

.modal-highlight{
    background: rgb(43,81,124);
    background: linear-gradient(90deg, rgba(43,81,124,1) 0%, rgba(34,56,81,1) 100%);
    height: 6px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

/*+++++++++++++++++++++++++++++++++++++++++++*/
/* Card hightlights */
/*+++++++++++++++++++++++++++++++++++++++++++*/
.border-left-primary{
    border-left: 0.25rem solid #145f9c !important;
}
.border-right-primary{
    border-right: 0.25rem solid #145f9c !important;
}
.card-highlight-primary{
    background: rgb(88,136,189);
    background: linear-gradient(90deg, rgba(88,136,189,1) 0%, rgba(15,172,243,1) 100%);
    height: 6px;
    border-top-left-radius: 0.35rem;
    border-top-right-radius: 0.35rem;
}

.card-highlight-success{
    background: linear-gradient(90deg, rgba(0,22,66,1) 0%, rgba(94,144,136,1) 0%, rgba(24,188,156,1) 100%);
    height: 6px;
    border-top-left-radius: 0.35rem;
    border-top-right-radius: 0.35rem;
}

.card-highlight-warning{
    background: rgb(219,194,120);
    background: linear-gradient(90deg, rgba(219,194,120,1) 0%, rgba(243,156,18,1) 100%);
    height: 6px;
    border-top-left-radius: 0.35rem;
    border-top-right-radius: 0.35rem;
}

.card-highlight-danger{
    background: rgb(201,122,122);
    background: linear-gradient(90deg, rgba(201,122,122,1) 0%, rgba(231,76,60,1) 100%);
    height: 6px;
    border-top-left-radius: 0.35rem;
    border-top-right-radius: 0.35rem;
}

.card-highlight-more{
    background: rgb(43,81,124);
    background: linear-gradient(90deg, rgba(43,81,124,1) 0%, rgba(34,56,81,1) 100%);
    height: 6px;
    border-top-left-radius: 0.35rem;
    border-top-right-radius: 0.35rem;
}

.card-icon{
    margin: 20px 0 10px 0;
}

/*+++++++++++++++++++++++++++++++++++++++++++*/
/* Stats Card */
/*+++++++++++++++++++++++++++++++++++++++++++*/

.stats-card{
    margin: 0 16px 16px 0;
    height: 156px;
    min-width: 240px;
    background-color: #FFFFFF;
}

/*+++++++++++++++++++++++++++++++++++++++++++*/
/* Tooltip color changes */
/*+++++++++++++++++++++++++++++++++++++++++++*/

/* tooltip icons */
.tooltip-info{
    color: #95a5a6;
}

.tooltip-info:hover{
    color: #001642;
}

/* tool tip hover textboxes */
.tooltip-inner {
    background-color: #001642;
}

.tooltip.bs-tooltip-auto[x-placement^=left] .arrow::before, .tooltip.bs-tooltip-left .arrow::before {
    border-left-color: #001642;
}

.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
    border-bottom-color:  #001642;
}

.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before {
    border-right-color:  #001642;
}

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
    border-top-color:  #001642;
}

/*+++++++++++++++++++++++++++++++++++++++++++*/
/* Colors */
/*+++++++++++++++++++++++++++++++++++++++++++*/
.bg-primary{
    background-color: #001642 !important;
}

.bg-secondary{
    background-color: #95a5a6 !important;
}

.bg-success{
    background-color: #18bc9c !important;
}

.bg-danger{
    background-color: #e74c3c !important;
}

.bg-warning{
    background-color: #f39c12 !important;
}

.bg-info{
    background-color: #0facf3 !important;
}

.bg-muted{
    background-color: #777777 !important;
}

.bg-light{
    background-color: #ecf0f1 !important;
}
.bg-dark{
    background-color: #001642 !important;
}

.color-primary{
    color: #145f9c !important;
}

.color-secondary{
    color: #95a5a6 !important;
}

.color-success{
    color: #18bc9c !important;
}

.color-danger{
    color: #e74c3c !important;
}

.color-warning{
    color: #f39c12 !important;
}

.color-info{
    color: #0facf3 !important;
}

.color-muted{
    color: #777777 !important;
}

.color-light{
    color: #ecf0f1 !important;
}
.color-dark{
    color: #001642 !important;
}

/*+++++++++++++++++++++++++++++++++++++++++++*/
/* Changing button colors */
/*+++++++++++++++++++++++++++++++++++++++++++*/
.btn{
    margin-right:10px;
}

.btn:disabled{
    background-color: #383838;
    color:#cccccc !important;
}
.btn-primary{
    /* #0FACF3 old color */
    background-color: #004680;
    border-style: none;
    box-shadow: 0 2px 6px 0 #00000033 !important;
}

.btn-primary:hover, .btn-primary:active{
    /* #0FACF3 old color */
    background-color: #023258 !important;
    box-shadow: 0 4px 8px 0 #00000033 !important;
    
}

.btn-primary:hover:enabled, .btn-primary:active:enabled{
    /* #0FACF3 old color */
    background-color: #023258 !important;
    box-shadow: 0 4px 8px 0 #00000033 !important;
    
}

.btn-primary:hover:disabled, .btn-primary:active:disabled{
    /* #0FACF3 old color */
    background-color: #023258 !important;
    box-shadow: 0 4px 8px 0 #00000033 !important;
    
}

.btn-secondary{
    color: #223851;
    border-style: none;
    background-color: #eff2f7;
    box-shadow: 0 2px 6px 0 #00000033 !important;
}

.btn-secondary:hover:enabled, .btn-secondary:active:enabled{
    box-shadow: 0 4px 8px 0 #00000033 !important;
}

.btn-info{
    border-style: none;
    box-shadow: 0 2px 6px 0 #00000033 !important;
}

.btn-danger{
    border-style: none;
    box-shadow: 0 2px 6px 0 #00000033 !important;
}



/*+++++++++++++++++++++++++++++++++++++++++++*/
/* Room card information */
/*+++++++++++++++++++++++++++++++++++++++++++*/

.link-color{
    color:rgb(6, 179, 223) !important;
}

.room-card{
    border-radius: 2px;
    box-shadow: 0 2px 6px 0 hsla(0,0%,0%,0.2);
    margin: 0 30px 30px auto;
    max-width: 500px;
    display:block;
    text-decoration: none;
    color:#202428;
}

@media (max-width: 800px) {
    .room-card{
        margin: 0 0 30px auto;
    }
}

.room-card:hover .room-card-body{
    text-decoration: none;
    background-color:#F8F8F8;
    border-color: #F8F8F8;
}


.room-card:hover {
    text-decoration: none;
    color:#202428;
    
}

.room-card:hover .room-card-title{
    background-color: #004680;
    color: #FFFFFF;
}

.room-card:hover .stars{
    color: #FFFFFF;
}

.room-card hr{
    margin: 15px 0 5px 0;
}

.room-card-title{
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    height: 50px;
    background-color: #f7f7f7;
    color: #000000;
    margin-bottom: 0px;
    vertical-align: center;
    padding:0 15px;
    line-height: 50px;
}
.room-card-title h4{
    line-height: 50px;
    margin-top: 3px;
    margin-bottom: 0px;
    vertical-align: center;
}

.room-card-title h4{
    line-height: 50px;
    margin-top: 3px;
    margin-bottom: 0px;
    vertical-align: center;
}

.room-card-body{
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    padding:15px 15px;
}

.room-card-img {
    padding-bottom: 15px;
    min-width: 191px;
    min-height: 142px;
    max-width: 191px;
    max-height: 142px;
}

.room-card-info{
    padding:0px 15px 0px 15px;
}

.room-card-info ul{
    list-style: none;
    margin:0px;
    padding:0px;
}

/* used for spacing the list items */
.space-evenly { 
    height: 100% !important;
    list-style: none !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
}
.room-card-spec{
    width: 122px;
    display:inline-block;
    padding-right:0px;
}

.room-card-spec ul{
    list-style: none;
    margin:0px;
    padding:0px;
    display:inline;
}

.room-card-spec li{
    display:inline-block;
    width:110px;
}

.spec-yes{
    color: #097AAE;
}

.spec-no{
    color:#696969;
}

.spec-no-icon{
    color:#a1a1a1;
}

.spec-warning{
    color:#e04141;
}
.flex-fixed-width-item {
    flex: 0 0 200px;
}

.checkbox-content{
    padding: 0px 0px 15px 15px;
}

/*+++++++++++++++++++++++++++++++++++++++++++*/
/* Room Details Page */
/*+++++++++++++++++++++++++++++++++++++++++++*/
.room-details-card{
    padding:0px !important;
    background-color: #FFFFFF;
}

.room-details-card .fa-star{
    color: #FFD700;
}

.room-details-card-title{
    border-top-right-radius: 0.35rem;
    border-top-left-radius: 0.35rem;
    height: 55px;
    background-color: #f7f7f7;
    color: #000000;
    margin-bottom: 0px;
    vertical-align: center;
    padding:0 15px;
    line-height: 50px;
}

.room-details-card-title h3{
    line-height: 55px;
    margin-bottom: 0px;
    vertical-align: center;
}
.room-details-card-title button{
    margin-bottom: 0px;
    vertical-align: center;
}
.room-details-spec{
    text-align:center; 
    padding-top:0px;
}

.room-details-spec li{
    display:inline-block;
    padding-left:10px;
    padding-right:10px;
}

.room-details-spec ul{
    text-align:center; 
    padding-left:0px;
    margin:0px;
}

.room-details-image{
    /* min-width: 505px; */
    max-width: 305px;
    max-width: 505px;
    width:100%;
    height:auto;

}

.room-confirm-image{
    min-width: 448px;
    min-height: 336px;
    max-height: 336px;
    max-width: 448px;
}

.link-style-none, .link-style-none:hover, .link-style-none:active, .link-style-none:visited {
    border:none;
    outline:none;
    text-decoration:none;
    color:inherit;
    text-decoration:none;
}

/*+++++++++++++++++++++++++++++++++++++++++++*/
/* Small Card Summary */
/*+++++++++++++++++++++++++++++++++++++++++++*/

.small-card{
    border-radius: 2px;
    overflow:hidden;
    margin: 0 0 12px 0;
    width: inherit;
    height: 110px;
    max-width: inherit;
    max-height: 110px;
    display:block;
    text-decoration: none;
    color:#202428;
    /* box-shadow: none !important; */
}

.small-card .body{
    height: inherit;
    max-height: inherit;
    width: inherit;
    max-width: inherit;
}
.small-card .content{
    margin: 5px;
}

.small-card:hover{
    text-decoration: none;
    background-color:#F8F8F8;
    border-color: #F8F8F8;
}


.small-card:hover {
    text-decoration: none;
    color:#202428;
}

.small-card:hover .upcoming-card-title{
    background-color: #7999b3;
    color: #FFFFFF;
}

.small-card img {
    min-width: 160px;
    max-height: inherit;
    min-height: inherit;
    max-width: 160px;
}

@media(max-width: 479px){
    .small-card img {
        display: none;
    }
}

/*+++++++++++++++++++++++++++++++++++++++++++*/
/* CustomFlex */
/*+++++++++++++++++++++++++++++++++++++++++++*/
@media (min-width: 20){
    .col-xxl-6 {
        background-color: #202428;
    }
}

/*+++++++++++++++++++++++++++++++++++++++++++*/
/* General Card Component CSS */
/*+++++++++++++++++++++++++++++++++++++++++++*/
.custom-card-header{
    background-image: linear-gradient(270deg, #145f9c 0%, rgb(12, 81, 138) 100%);
}
.custom-card-header h6{
    color: white ;
    font-weight: 400 !important;
}