/* This file is for USER view specific changes */
@import url('shared.css');
/*+++++++++++++++++++++++++++++++++++++++++++*/
/* General */
/*+++++++++++++++++++++++++++++++++++++++++++*/

.search-room-content{
    max-width: 600px;
}

  /* Large button styling */
.large-buttons{
    width: 170px !important;
    margin: 5px !important;
    font-size: 20px !important;
}

/* Adjusting margins for room booking content */
.book-room-content{
    margin-top: 150px;
}

/*+++++++++++++++++++++++++++++++++++++++++++*/
/* Room confirmation modal */
/*+++++++++++++++++++++++++++++++++++++++++++*/

.confirmation-modal{
    max-width: 400px;
}

.confirmation-image{
    width:80%;
    height: auto;
}

.confirmation-modal-text{
    margin: 0px;
    padding-top: 18px !important;
}

.confirmation-modal-column{
    padding:8px;
}

.confirmation-form{
    max-width: 240px;
}

.room-card {
    animation: fadeIn 1s;
}