/* This file is for USER view specific changes */
@import url('shared.css');
/*+++++++++++++++++++++++++++++++++++++++++++*/
/* General */
/*+++++++++++++++++++++++++++++++++++++++++++*/

body { 
    padding-top: 65px; 
    font-family: 'Lato', sans-serif;
}

/* Tooltip coloor changes */
.tooltip-inner {
    background-color: rgb(115, 146, 187);
}

.tooltip.bs-tooltip-auto[x-placement^=left] .arrow::before, .tooltip.bs-tooltip-left .arrow::before {
    border-left-color: rgb(115, 146, 187);
}

.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
    border-bottom-color:  rgb(115, 146, 187);
}

.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before {

    border-right-color:  rgb(115, 146, 187);
}

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
    border-top-color:  rgb(115, 146, 187);
}

/*+++++++++++++++++++++++++++++++++++++++++++*/
/* Navbar changes */
/*+++++++++++++++++++++++++++++++++++++++++++*/

.navbar-dark{
    background-color: #001642 !important;
}

.navbar-toggler{
    border-style: none;
}
.navbar-brand{
	padding:0px 0px 7px 0;
}

.navbar-brand img{
	height:26px;
	margin:0px;
}

.nav-link{
	font-size: 16px;
	margin-left:10px;
	padding:5px 10px;
}
.navbar-expand, .navbar-dark{
    padding:40px;
}

.navbar-expand-lg{
    padding-top: 10px;
    padding-bottom: 10px;
}



.btn-primary:focus, .btn-primary.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(70, 151, 233, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(70, 151, 233, 0.5);
  }

  /* Large button styling */
.large-buttons{
    width: 170px !important;
    margin: 5px !important;
    font-size: 20px !important;
}

/*+++++++++++++++++++++++++++++++++++++++++++*/
/* user nav*/
/*+++++++++++++++++++++++++++++++++++++++++++*/

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-center:before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #12ACF3;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    color: #12ACF3
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

.user-nav-link:hover, .user-nav-link:visited, .user-nav-link:active, .nav-link{
    color: #FFFFFF !important;
}

/*+++++++++++++++++++++++++++++++++++++++++++*/
/* admin nav*/
/*+++++++++++++++++++++++++++++++++++++++++++*/

.dropdown-toggle{
    padding-right: 10px;
}
.page-title{
	margin-top: 20px;
	margin-bottom: 30px;
	border-bottom: solid 2px #001642;
}

.page-title .date{
	padding-top:8px;
}

/* Fix bootstrap */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:active {
    background: none;
    color: #fff;
}
.navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open>a:focus, .navbar-default .navbar-nav > .open > a:active {
    background: none;
    color: #555;
}

/* Adjusting margins for room booking content */
.book-room-content{
    margin-top: 150px;
}

/* Large button styling */
.large-buttons{
    width: 170px !important;
    margin: 5px !important;
    font-size: 20px !important;
}

.number-spinner{
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

/*+++++++++++++++++++++++++++++++++++++++++++*/
/* Room confirmation modal */
/*+++++++++++++++++++++++++++++++++++++++++++*/

.confirmation-modal{
    max-width: 450px;
}

.confirmation-image{
    width:80%;
    height: auto;
}

.confirmation-modal-text{
    margin: 0px;
    padding-top: 18px !important;
}

.confirmation-modal-column{
    padding:8px;
}

.confirmation-form{
    max-width: 240px;
}
