<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=11'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <meta name='description' content='Book Meeting Rooms'>
    <meta name='author' content='CDH Studio'>

    {{--  Favicon  --}}
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
        
    <!-- Custom fonts for this template-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.1/css/all.css' integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr' crossorigin='anonymous'>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    {{-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script> --}}
    {{ script('js/vendor/jquery-ui.min.js') }} 

    {{ style('css/vendor/jtsage-datebox.min.css') }}    
    {{ style('css/vendor/animate.min.css') }}
    <!-- Custom styles for this template-->
    {{ style('css/vendor/sb-admin-2.min.css') }}

    @if(auth.user.role_id===1)
      {{ style('css/admin') }}
    @else
      {{ style('css/user') }}
    @endif
    
    @!section('extracss')

    <title>
        @!section('title')
    </title>
  </head>

  <body id='page-top'>

    <div id='wrapper'>
      <!-- Sidebar -->

      
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand navbar-brand d-flex align-items-center justify-content-center" href="{{route('home')}}">
            <div class="sidebar-brand-icon ml-3 ml-md-0"><img src='/images/logo_door.png' alt='jarvis-icon'></div>
            <div class="sidebar-brand-text"><img src='/images/logo_text.png' alt='jarvis-text'></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        @if(auth.user.role_id===1)
          @!component('layouts.adminSidebarOptions', antl = antl)
        @else
          @!component('layouts.userSidebarOptions', userid = auth.user.id, antl = antl)
        @endif

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <div class="sidebar-heading d-none d-md-inline">
          {{ antl.formatMessage('mainLayout.cdhStudioLogo') }}
        </div>

        <div class="text-center d-none d-md-inline pb-3">
          @if(antl.currentLocale() == "en")
            <a class="nav-link" href='https://cdhstudio.ca/' target='_blank' aria-label="CDH Studio">
              <img src="/images/cdhStudioLogo.png" alt="CDH Studio English Logo" style="width:63%">
            </a>
          @else
            <a class="nav-link" href='https://cdhstudio.ca/fr' target='_blank' >
              <img src="/images/cdhStudioLogo_fr.png" alt="CDH Studio English Logo" style="width:63%">
            </a>
          @endif
        </div>

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle" aria-label="Sidebar Toggle"></button>
        </div>
      </ul>


      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
          <div class="alert alert-primary alert-dismissible show m-0 p-2 pl-4" role="alert">
            <small>
              <i class="fas fa-exclamation-circle"></i> {{ antl.formatMessage('mainLayout.betaMessage') }}
              <a class="text-right ml-1 text-dark" href="mailto: cdhstudio@canada.ca?Subject=Jarvis%20Feedback">
              <i class="fas fa-envelope"></i> {{ antl.formatMessage('mainLayout.feedback') }}</a>
            </small>
            <button type="button" class="close p-2 pr-4" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button>


            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">


              @if(auth.user.role_id===1)
                <form class="form-inline">
                  <div class="dropdown">
                   <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      @if(selectedBuilding)
                        <i class="far fa-building"></i> {{selectedBuilding.name}}
                      @else
                        <i class="far fa-building"></i> Select Building
                      @endif
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      @each(building in allBuildings)
                        <a class="dropdown-item" href="{{ route('setBuilding', {id: building.id}) }}">{{building.name}}</a>
                      @endeach
                    </div>
                  </div>
                </form>
              @else
                <li class="nav-item dropdown no-arrow">
                  <a class="nav-link dropdown-toggle text-grey small" href="mailto: cdhstudio@canada.ca?Subject=Jarvis%20Feedback"><i class="fas fa-comment mr-1"></i>{{ antl.formatMessage('mainLayout.feedback') }}</a>
                </li>
              @endif
              <li class="nav-item dropdown no-arrow">
                  @if(antl.currentLocale() =="en")
                   <a class="nav-link dropdown-toggle text-grey small" href='/switch/fr'><i class="fas fa-globe mr-1"></i>FR</a>
                  @else
                    <a class="nav-link dropdown-toggle text-grey small" href='/switch/en'><i class="fas fa-globe mr-1"></i>EN</a>
                  @endif
                </li>

              <div class="topbar-divider d-none d-sm-block"></div>
              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="mr-2 d-none d-lg-inline text-grey small">{{auth.user.firstname}} {{auth.user.lastname}}</span>
                  <i class="fas fa-user-circle fa-1x text-grey"></i>
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                  <a class="dropdown-item" href="{{route('viewProfile',{id: auth.user.id})}}">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-grey"></i>
                    {{ antl.formatMessage('mainLayout.profile') }}
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-grey"></i>
                    {{ antl.formatMessage('mainLayout.logout') }}
                  </a>
                </div>
              </li>
            </ul>  
          </nav>

          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">

            <!-- Page Heading -->
            @!section('content')

          </div>
          <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white mt-4">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              @if(antl.currentLocale() =="fr")
                <a class='link-style-none' href='https://cdhstudio.ca/fr' target='_blank'> Studio CDH <i class='fas fa-heart'></i> Jarvis</a>
              @else
                <a class='link-style-none' href='https://cdhstudio.ca' target='_blank'> CDH Studio <i class='fas fa-heart'></i> Jarvis</a>
              @endif
            </div>
          </div>
        </footer>

    </div>
    <!-- End of Page Wrapper -->


    <!-- Logout Modal-->
    <div class='modal fade' id='logoutModal' tabindex='-1' role='dialog' aria-labelledby='logoutTitle' aria-hidden='true'>
      <div class='modal-dialog modal-dialog-centered' role='document'>
        <div class='modal-content'>
          <div class='modal-header'>
            <p class='modal-title' aria-label='Logout Title' id='logoutTitle' ><strong>{{ antl.formatMessage('mainLayout.logoutModalHeader') }}</strong></p>
            <button class='close' type='button' data-dismiss='modal' aria-label='Close'>
              <span aria-hidden='true'>×</span>
            </button>
          </div>
          <div class='modal-body'>{{ antl.formatMessage('mainLayout.logoutModalBody') }}</div>
          <div class='modal-footer'>
            <button class='btn btn-secondary' type='button' data-dismiss='modal'>{{ antl.formatMessage('mainLayout.logoutModalCancelBtn') }}</button>
            <a class='btn btn-primary' href='{{route('logout')}}'>{{ antl.formatMessage('mainLayout.logoutModalLogoutBtn') }}</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    {{script('js/vendor/popper.js')}}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    {{script('js/vendor/sb-admin-2.min.js')}}  
    {{ script('js/vendor/bootstrap-notify.min') }}
    {{ script('js/vendor/jtsage-datebox.min') }}
   
    {{--  Chart and Graph Import  --}} 
    @if(auth.user.role_id===1)
      {{ script('https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js') }}
    @endif
    
  
    <!-- Core plugin JavaScript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.compatibility.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <script>      
      $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    </script>

    <!-- notification popup -->
    @if(flashMessage('notification'))
      <script>
        $(window).on('load', function () {
          // notify({ $: $, message: '{{ flashMessage('notification') }}' });
          $.notify({ message: '{{ flashMessage('notification') }}', url: '{{ flashMessage('url') }}' }, 
            {
              element: 'body',
              type: 'success',
              animate: {
                enter: 'animated fadeInRight',
                exit: 'animated fadeOutUp'
              },
              placement: {
                from: 'top',
                align: 'right'
              },
              offset: {
                x: 10,
                y: 60
              },
              spacing: 10,
              z_index: 1031,
              delay: 5000
            });
        });
      </script>
    @elseif(flashMessage('error'))
        <script>
          $(window).on('load', function () {
            $.notify({ message: '{{ flashMessage('error') }}' }, 
              {
                element: 'body',
                type: 'danger',
                animate: {
                  enter: 'animated fadeInRight',
                  exit: 'animated fadeOutUp'
                },
                placement: {
                  from: 'top',
                  align: 'right'
                },
                offset: {
                  x: 10,
                  y: 60
                },
                spacing: 10,
                z_index: 1031,
                delay: 10000
              });
          });
        </script>
    @endif



    @!section('extrajs')

  </body>
</html>
