<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>

    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700|Roboto:300,400,700' rel='stylesheet'>
    
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.2.1/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-9dACWymWSkhCeCgbjV6xqS20Luu4ue6QnEvr+nMXpPMwIq/OB89AoRh27Flsrxzs" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.1/css/all.css' integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr' crossorigin='anonymous'>

    {{ style('css/user') }}
    {{ style('css/vendor/animate') }}
    {{ script('js/vendor/bootstrap-notify') }}
    {{ script('js/vendor/bootstrap-notify.min') }}

    @!section('extracss')

    <title>
        @!section('title')
    </title>
  </head>

  <body>
    {{--  Navbar  --}}
    <nav class='navbar navbar-expand-lg fixed-top navbar-dark bg-primary stroke'>
        <div class='container'>
          <a href='../' class='navbar-brand'><img src='/door_logo.png'></a>
          <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation'>
            <span class='navbar-toggler-icon'></span>
          </button>
          <div class='collapse navbar-collapse' id='navbarResponsive'>
            {{--  Header menu links (Book a room, Manage bookings)  --}}
            <ul class='navbar-nav'>
              <li class='nav-item dropdown'>
              <a class='nav-link mr-2 user-nav-link hvr-underline-from-center' href='{{ route('home') }}'>Book a Room <span className='sr-only'></span></a>
                <a class='nav-link mr-2 user-nav-link hvr-underline-from-center' href='{{ route('viewBookings') }}'>Manage Bookings <span className='sr-only'></span></a>
              </li>
            </ul>
            {{--  Header drop down for user settings, logout  --}}
            <ul class='nav navbar-nav ml-auto'>
                  <li class='nav-item dropdown'>
                    <a class='nav-link user-nav-link dropdown-toggle' data-toggle='dropdown' href='#' id='user-drop'>{{auth.user.firstname}} {{auth.user.lastname}} <span class='caret'></span></a>
                    <div class='dropdown-menu' aria-labelledby='user-drop'>
                        <a class='dropdown-item' href='{{route('viewProfile',{id: auth.user.id})}}'>Profile</a>
                        <div class='dropdown-divider'></div>
                        <a class='dropdown-item' href='#' data-toggle='modal' data-target='#logoutModal'>Logout</a>
                    </div>
                  </li> 
            </ul>
          </div>
        </div>
    </nav>

    <!--  Logout Modal  -->
    <div class='modal fade' id='logoutModal' tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true'>
      <div class='modal-dialog' role='document'>
        <div class='modal-content'>
          <div class='modal-header'>
            <h5 class='modal-title' id='exampleModalLabel'>Ready to Leave?</h5>
            <button class='close' type='button' data-dismiss='modal' aria-label='Close'>
              <span aria-hidden='true'>×</span>
            </button>
          </div>
          <div class='modal-body'>Are you sure you want to log out?</div>
          <div class='modal-footer'>
            <button class='btn btn-secondary' type='button' data-dismiss='modal'>Cancel</button>
            <a class='btn btn-primary' href='{{route('logout')}}'>Logout</a>
          </div>
        </div>
      </div>
    </div>

    <div class='container'>
      @!section('content')
    </div>
    <!-- Bootstrap core JavaScript -->
    {{script('js/vendor/popper.js')}}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Core plugin JavaScript-->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.compatibility.js'></script>

    {{--  Mouseover Tooltip  --}}
    <script> $(document).ready(function(){ $('[data-toggle="tooltip"]').tooltip(); });</script>

  </body>
</html>