<!DOCTYPE html>
<html lang='en'>

<head>

  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
  <meta name='description' content=''>
  <meta name='author' content=''>

  <title>SB Admin 2 - Login</title>

  <!-- Custom fonts for this template-->
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.1/css/all.css' integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr' crossorigin='anonymous'>
  <link href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet'>

  <!-- Custom styles for this template-->
  <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous'>
  <link href='css/vendor/sb-admin-2.css' rel='stylesheet'>
  <link href='css/sb-admin-login.css' rel='stylesheet'>

</head>

<body class='bg-gradient-primary'>

  <div class='container'>

    <!-- Outer Row -->
    <div class='row justify-content-center'>

      <div class='col-xl-10 col-lg-12 col-md-9'>

        <div class='card o-hidden border-0 shadow-lg my-5'>
          <div class='card-body p-0'>
            <!-- Nested Row within Card Body -->
            <div class='row'>
              <div class='col-lg-6 d-none d-lg-block bg-login-image'></div>
              <div class='col-lg-6'>
                <div class='p-5'>
                  <div class='text-left'>
                    <img class='login-logo mb-3' src='door_logo.png'>
                  </div>
                  <div class='text-left'>
                    <h1 class='h4 text-gray-900 mb-4'>Login</h1>
                  </div>
                  @if(flashMessage('loginError'))
                    <div class='alert alert-dismissible alert-danger'>
                      <button type='button' class='close' data-dismiss='alert'>&times;</button>
                      <strong>{{ flashMessage('loginError') }}</strong>
                    </div>
                  @endif
                  <form action='{{ route('post') }}' method='POST' class='user'>
                    {{ csrfField() }}
                    <div class='form-group'>
                      <input type='email' class='form-control form-control-user' name='email' id='email' aria-describedby='emailHelp' placeholder='Enter email'>
                      @if(hasErrorFor('email'))        
                        <div class='invalid-feedback d-block'>{{ getErrorFor('email') }}</div>
                      @endif
                    </div>

                    <div class='form-group'>
                      <input type='password' class='form-control form-control-user' name='password' id='password' placeholder='Password'>
                      @if(hasErrorFor('password'))
                        <span>
                            <div class='invalid-feedback d-block'>{{ getErrorFor('password') }}</div>
                        </span>
                      @endif
                      <a class='small text-right' href='{{ route('forgotPassword') }}'>Forgot password</a>
                    </div>
                    <button type='submit' class='btn btn-primary btn-user btn-block'>
                      Login
                    </button>
                    <hr>
                  </form>
                  <div class='text-center'>
                    <a class='small' href='{{route('registerUser')}}'>Create an Account!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div>
      <ul id='messages' class='list-group'></ul>
    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous'></script>
  {{ script('https://js.pusher.com/4.1/pusher.min.js') }}

  <script>
      let pusher = new Pusher('aca8a920ad0e3d8ac09f', {
              cluster: 'us2',
              useTLS: true
            });

            //Subscribe to the channel we specified in our Adonis Application
            let channel = pusher.subscribe('adonis-channel')

            //Listen for events on the channel
            // channel.bind('send-message', (data) => {

            //   console.log();
            //   let listItem = $("<li class='list-group-item'>" + data.message + "</li>")
            //   $('#messages').append(listItem)
            // })
  </script>
  {{script('js/vendor/popper.js')}}
  <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js' integrity='sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k' crossorigin='anonymous'></script>

  <!-- Custom scripts for all pages-->
  <script src='js/vendor/sb-admin-2.min.js'></script>

</body>

</html>
